body{
    background-color:#11001e;
    color: aliceblue;
};
.container{
  color: aliceblue;
}
#img1{
    display: flex;
    width: 25%;
    position:relative;
    left: 65%;
    top: 90px;
    height: 100px;
    width: auto;
}
#img2{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 400px;
}
.content{
    top: 60%;
    position: absolute;
    font-size: 20px;
    align-items: center;
    
}
#fname{
    width: 30%;
    height: 50%;
}